<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Input</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Text Processing</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('main_bp.index') }}">Home</a></li>
                    <li><a href="{{ url_for('main_bp.text_processing') }}">Text Processing</a></li>
                    <li><a href="{{ url_for('main_bp.image_processing') }}">Image Processing</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="container">
        <h2>Process Text Input</h2>
        <form method="POST" action="{{ url_for('main_bp.text_processing') }}">
            <label for="input_text">Enter Text:</label>
            <textarea id="input_text" name="input_text" rows="4" cols="50" required></textarea><br>
            <input type="submit" value="Submit">
        </form>
        {% if text_result %}
            <h3>Processed Text Result:</h3>
            <p>{{ text_result }}</p>
        {% endif %}
    </main>
</body>
</html>
