{% extends "base.html" %}

{% block title %}Image Classification{% endblock %}

{% block content %}
    <h2>Image Classification</h2>

    {% if not prediction %}
        <form method="POST" action="{{ url_for('main_bp.classify_image') }}" enctype="multipart/form-data">
            <label for="image">Select Image:</label>
            <input type="file" id="image" name="image" accept="image/*" required class="file-input"><br>
            <input type="submit" value="Classify" class="submit-button">
        </form>
    {% else %}
        <p>The predicted class is: <strong>{{ prediction }}</strong></p>
        <button><a href="{{ url_for('main_bp.classify_image') }}">Predict Again</a></button>
    {% endif %}
{% endblock %}
